<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    {% extends "receitas/base.html" %}
    {% block content %}
    <main class="container mx-auto p-6 mt-8 bg-white rounded-lg shadow-md">
        <h2 class="text-2xl font-semibold mb-6 text-center">
            {% if query %}
                Nenhum termo pesquisado
            {% else %}
                resultado para: "{{ query }}"
            {% endif %}
        </h2>

        <div class="flex flex-wrap justify-center gap-6">
        {% if resultados %}
            {% for receita in receitas %}
            <div class="w-full sm:w-[calc(50%-1.Srem)] lg:w´[calc(33.333%-1.5rem)] bg-gray-50 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
                {% if receita.image %}
                    <img src="{{ receita.image.url }}" alt="Parafuso" class="w-full h-48 object-cover rounded-md mb-4">
                {% endif %}
                <h3 class="text-x1 font-bold mb-2 text-gray-800">{{ receita.title }}</h3>
                <p class="text-gray-600 mb-4">
                    {{ receita.description|truncatewords:20 }}
                </p>
                <a href="{% url 'receita_detail' id=receita.id %}" class="text-orange-600 hover:text-orange-800 font-semibold">
                    Ver Receita &rarr;
                </a>
            </div>
            {% endfor %}
        {% else %}
            <p class="text-center text-gray-600">Nenhuma receita encontrada</p>
        {% endif %}
        </div>
  </main>
    {% endblock %}
</body>

</html>